<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Youtube掲示板
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
　　<header>
        <h1>
            <a href="/">Youtube掲示板</a>
        </h1>
    </header>
    <form action = "/search" method ="GET">
        <input class="searchword" type ="text" name="name">
        <input class="searchbtn" type ="submit" value="検索">
    </form>
    <div>
        {% block title %}    
        <!--タイトル-->
        {% endblock %}
    </div>
    <div class="content-container">
        {% block contents %}
        <!--コンテンツ-->
        {% endblock %}
    </div>

</body>
</html>