{% extends 'portal.html' %}


{% block title %}
<div class="threadtitle">
    <!--<img class="threadimg" src="{{thumbnail}}" alt="" preserveAspectRatio="xMidYMid">-->
    <div class="movie_wrap"> 
        <iframe width="640" height="360" src="{{url}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    
    <p>{{title}}の評判</p>
</div>
{% endblock %}


{% block contents %}
    <form action="/result" method="post">
        <input type="hidden" name="thread" value="{{ thread }}">
        <label for="article">投稿</label>
        <!-- <input type="text" name="article"> -->
        <textarea name="article" rows="6" cols="100"></textarea>
        <p></p>
        <label for="name">名前</label>
        <input type="text" name="name">
        <button type="submit">送信する</button>
    </form>

    <h2>投稿一覧 {{ thread }}</h2>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th>日付</th>
                <th>名前</th>
                <th>投稿</th>
                </tr>
            </thead>
            <tbody>
                {% for f in articles: %}
                    <tr>
                        <th scope="row">{{ f.pub_date }}</th>
                        <td>{{ f.name }}</td>
                        <td>{{ f.article }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    <form action="/search" method="get">
        <button type="submit">戻る</button>
    </form>
{% endblock %}